<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<link rel="icon" href="/images/favicon.ico.png" type="image/png" />
<title>Add new Pokémon</title>
</head>
<body th:style="'background-image:url(' + @{/images/background.jpg} + ');background-repeat: no-repeat; background-size:100% 100%; background-attachment: fixed; background-position:center center;'">
	<h1 style="text-align: center; margin-top:100px; width:100%; color:black;">Add new Pokémon</h1>
	<div style="clear: both; display: block; height: 10px;"></div>
	<form th:object="${pokemon}" th:action="@{save}" action="#"
		method="post">
		<table style="width: 20%; margin: auto;"
			class="table table-striped table-dark ">


			<tr style="text-align: center;">
				<th><label for="pokemonName">Name</label></th>
				<td><input type="text" th:field="*{pokemonName}" /></td>
				
				<td style="font-size:80%; color:red;" th:if="${#fields.hasErrors('pokemonName')}" th:errors="*{pokemonName}"></td>
			</tr>
			<tr style="text-align: center;">
				<th><label for="typelist">Type</label></th>
				<td><select style="width: 200px; margin: auto;"
					th:field="*{type}" class="form-control">
						<option th:each="type: ${types}" th:value="${type.typeid}"
							th:text="${type.typeName}"></option>
				</select></td>
				
			</tr>
			<tr style="text-align: center;">
				<th><label for="hp">HP</label></th>
				<td><input type="number" th:field="*{hp}" /></td>
				<td style="font-size:80%; color:red;" th:if="${#fields.hasErrors('hp')}" th:errors="*{hp}"></td>
			</tr>
			<tr style="text-align: center;">
				<th><label for="setName">Set</label></th>
				<td><input type="text" th:field="*{setName}" /></td>
				<td style="font-size:80%; color:red;" th:if="${#fields.hasErrors('setName')}" th:errors="*{setName}"></td>
			</tr>
			<tr style="text-align: center;">
				<th><label for="versionlist">Version</label></th>
				<td><select style="width: 200px; margin: auto;"
					 th:field="*{version}" class="form-control">
						<option th:each="version: ${versions}"
							th:value="${version.versionId}" th:text="${version.versionName}"></option>
				</select></td>
			</tr>
			<tr style="text-align: center;">
				<th><input class="btn btn-primary" type="submit" value="Save"></input></th>

			</tr>



		</table>
	</form>
</body>
</html>