<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Add new Pokémon</title>
</head>
<body>

	<h1>Add Pokémon</h1>
	<div>
		<form th:object="${pokemon}" th:action="@{save}" action="#" method="post">
			<label for="pokemonName">Name</label>
			 <input type="text" th:field="*{pokemonName}" /> 
			 <label for="typelist">Type</label>
			 <select style="width: 200px;" id="typelist" 
			 		 th:field="*{type}" class="form-control">
			 <option th:each="type: ${types}"
					 th:value="${type.typeid}"
					 th:text="${type.typeName}"></option>
			</select>
			 <label for="hp">HP</label> 
			 <input type="text" th:field="*{hp}" /> 
			 <label for="setName">Set</label> 
			 <input type="text" th:field="*{setName}" />
			 <label for="versionlist">Version</label> 
			 <select style="width: 200px;" id="versionlist"
			 		 th:field="*{version}" class="form-control">
			 <option th:each="version: ${versions}"
					 th:value="${version.versionId}"
					 th:text="${version.versionName}"></option>
			</select>
			 <input type="submit" value="Save"></input>
		</form>
	</div>

</body>
</html>