<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" /> 
<link rel="icon" href="/images/favicon.ico.png" type="image/png" />
<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
font-family: 'Roboto', sans-serif;
}
</style>
<title>Login</title>
</head>
<body th:style="'background-image:url(' + @{/images/background-small.jpg} + '); background-repeat: no-repeat; background-size:100% 100%; background-attachment: fixed; background-position:center center; '">
	<div style="color:red;" th:if="${param.error}">Invalid username and password.</div>
	<h1 style="text-align:center; color:black; margin-top:100px; width:100%; "><b>Welcome to your Pokémon-card collection!</b></h1>

	<div style=" padding:10px; margin:auto; width:100%; display:inline-block; ">
	<h2 style="text-align: center; width:100%; margin-bottom:20px;">Login</h2>
	
	
	
		<form style="text-align:center;" th:action="@{/login}" method="post">
			
			
			<label> <input style="width:100%;" type="text" placeholder="Username" name="username" />
			</label>
			<div style="clear: both; display: block; width: 100%;"></div>
			<label><input style="width:100%;" type="password" placeholder="Password" name="password" />
			</label>
			<div style="clear: both; display: block; height: 100%;"></div>
			<button style="max-width:100%; margin-top:10px;" type="submit" class="btn btn-primary" >Sign in</button>
			<div style="clear: both; display: block; height: 100%;"></div>
				
			
		</form>
		
		<div style="text-align:center; width:100%; margin-top:20px;">
		<a class="btn btn-sm btn-info" th:href="@{/signup}" >Sign up</a>
		</div>		
	</div>
	

</body>
</html>