<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
font-family: 'Roboto', sans-serif;
}
</style>
<title>Login</title>
</head>
<body th:style="'background-image:url(' + @{/images/background-small.jpg} + '); background-repeat: repeat; background-size: 100%;  overflow: hidden;  '">
	<div style="color:red;" th:if="${param.error}">Invalid username and password.</div>
	<h1 style="text-align:center; color:white; ">Welcome to your Pokémon-card collection!</h1>
	<div style="clear: both; display: block; height: 225px;"></div>
	<div style="background-color:white; border:1px solid black; padding:10px; margin:auto; width:20%;">
	<h2 style="text-align: center;">Login</h2>
	
	
	
		<form style="text-align:center;" th:action="@{/login}" method="post">
			
			
			<label> <input type="text" placeholder="Username" name="username" />
			</label>
			<div style="clear: both; display: block; height: 10px;"></div>
			<label><input type="password" placeholder="Password" name="password" />
			</label>
			<div style="clear: both; display: block; height: 10px;"></div>
			<button type="submit" class="btn btn-primary" >Sign in</button>
			<div style="clear: both; display: block; height: 10px;"></div>
				
			
		</form>
		
		<div style="border:1px solid black; width:15%; text-align:center; margin:auto; ">
		<a style=" color:black; text-decoration:none;" th:href="@{/signup}" >Sign up</a>
		</div>		
	</div>
	

</body>
</html>