<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
<title>Pokémon collection!</title>
</head>
<body style=" background-color:#181b19">
	<table class="table table-striped table-dark">
	<thead class="thead-light">
	
	<tr style="text-align:center;">
		<th>Pokemon</th>
		<th>Type</th>
		<th>HP</th>
		<th>Set</th>
		<th>Version</th>
		<th>Info</th>
		<th><a class="btn btn-primary" href="/add">Add Pokémon</a> </th>
		<th><form  th:action="@{/logout}" method="post">
		<input class="btn btn-danger" type="submit" value="Sign Out" /></form>
		</th>
		
	
	</tr>
	</thead>
	<tbody>
	
	<tr style="text-align:center;" th:each = "pokemon : ${pokemons}">
		<td th:text="${pokemon.pokemonName}"></td>
		<td th:text="${pokemon.type.typeName}"></td>
		<td th:text="${pokemon.hp}"></td>
		<td th:text="${pokemon.setName}"></td>
		<td th:text="${pokemon.version.versionName}"></td>
		<td><a  class="btn btn-info" th:href="@{https://www.pokemon.com/us/pokedex/{number}(number=${pokemon.pokemonName})}" target="blank">Pokédex</a></td>
		<td><a  class="btn btn-danger" th:href="@{/delete/{id}(id=${pokemon.id})}">Delete</a></td>
		<td><a  class="btn btn-warning" th:href="@{/edit/{id}(id=${pokemon.id})}">Edit</a></td> 
		
	</tr>
	</tbody>
	
	</table>
</body>
</html>