<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Pokémon collection!</title>
</head>
<body>
	<table>
	<tr>
		<th>Pokemon</th>
		<th>HP</th>
		<th>Set</th>
		<th>Version</th>
		<th>Type</th>
	
	</tr>
	
	<tr th:each = "pokemon : ${pokemons}">
		<td th:text="${pokemon.pokemonName}"></td>
		<td th:text="${pokemon.hp}"></td>
		<td th:text="${pokemon.setName}"></td>
		<td th:text="${pokemon.version}"></td>
		<td th:text="${pokemon.type}"></td>
		<td><a th:href="@{/delete/{id}(id=${pokemon.id})}">Delete</a></td>
		<td><a th:href="@{/edit/{id}(id=${pokemon.id})}">Edit</a></td> 
		
	
	
	
	</table>
	<a href="/add">Add Pokémon</a> 

</body>
</html>