<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Pokémon collection!</title>
</head>
<body>
	<table>
	<tbody>
	<tr>
		<th>Pokemon</th>
		<th>Type</th>
		<th>HP</th>
		<th>Set</th>
		<th>Version</th>
		
	
	</tr>
	
	<tr th:each = "pokemon : ${pokemons}">
		<td th:text="${pokemon.pokemonName}"></td>
		<td th:text="${pokemon.type.typeName}"></td>
		<td th:text="${pokemon.hp}"></td>
		<td th:text="${pokemon.setName}"></td>
		<td th:text="${pokemon.version.versionName}"></td>
		<td><a th:href="@{https://www.pokemon.com/us/pokedex/{number}(number=${pokemon.pokemonName})}" target="blank">Pokédex</a></td>
		<td><a th:href="@{/delete/{id}(id=${pokemon.id})}">Delete</a></td>
		<td><a th:href="@{/edit/{id}(id=${pokemon.id})}">Edit</a></td> 
		
	</tr>
	</tbody>
	
	</table>
	<a href="/add">Add Pokémon</a> 

</body>
</html>