<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
</style>
<title>Sign up</title>
</head>
<body style="font-family: 'Roboto', sans-serif; background-color:#2e3330;">
	<div style="clear: both; display: block; height: 300px;"></div>
     <div style=" background-color:white; border:1px solid black; padding:10px; margin:auto; width:20%;">
		<h2 style="text-align:center; ">Sign-up</h2>
		<form style="text-align:center;" th:object="${signupform}" th:action="@{/saveuser}" action="#" method="post">
			
				<label><input type="text" placeholder="Username" th:field="*{username}" class="form-control"/></label>
				<div style="clear: both; display: block; height: 10px;"></div>
				<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</p>	
				<label><input type="password" placeholder="Password" th:field="*{password}" class="form-control"/></label>
				<div style="clear: both; display: block; height: 10px;"></div>
				<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>	
				<label><input type="password" placeholder="Re-type Password" th:field="*{passwordCheck}" class="form-control"/></label>
				<div style="clear: both; display: block; height: 10px;"></div>
				<p th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}">Password Match Error</p>	
			
				<input type="submit" class="btn btn-primary" value="Signup"></input>		
		</form>
	</div>
</body>
</html>